<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <configSections>

    </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICenterService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://103.92.24.211:7221/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICenterService" contract="YbxService.ICenterService" name="NetTcpBinding_ICenterService" />
        </client>
    </system.serviceModel>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
		
    </system.webServer>
	<system.web>
        <customErrors mode="Off"/>
    </system.web>
</configuration>
